{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="about-us.html">درباره ما</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h1 class="title">درباره ما</h1>
            <div class="row">
                <div class="col-sm-12">
                    <p>مجموعه فولاد سام همواره خواستار حضوری موثر و قوی همچنین پاسخگویی مناسب به نیازهای جامعه صنعتی بوده و خواهد بودکه در راه رسیدن به این امر مهم ناگزیر همراه و همگام بودن با تحولات و فن آوریهای
                    نوین صنعت فولاد خواه در درون کشور، خواه در سطح جهانی را در صدر اهداف و خواسته های خود قرار داده است و همواره نهایت تلاش خود را در زمینه ارتقا کیفی
                    تولید و خدمات رسانی به کار بسته است و در این زمینه برای عملی ساختن این اهداف اقداماتی از قبیل آنچه در ذیل آمده به انجام رسانده است.</p>
                    <p>توسعه کمی و کیفی منابع انسانی و ارتقا سطح دانش پرسنل و کارکنان از طریق بکارگیری نیروی جوان و متخصص و همچنین ایجاد بستری مناسب جهت آموزش و تربیت پرسنلی متخصص، فنی و کارآمد با این انگیزه و نظر که این افراد در پاسخگویی و ارائه خدمات به عنوان افرادی مفید و متمایز انجام وظیفه نمایند.
                     مسئولیت پذیری در این مجموعه یک فلسفه و رویکرد مدیریتی بوده است که از سالهای گذشته تاکنون با مجموعه ای از ابزار و راهکارهای گوناگون و تمهیدات لازم مورد توجه خاص قرار گرفته است.
                    این مهم در صنایع فولاد سام با پشتوانه و ذخایر گرانقدر مادی و معنوی و در ابعاد مختلف در این زمینه فعال می باشد که هر یک از انها می تواند آینده ای روشن را برای اعتبار این مجموعه ترسیم نمایند. این مجموعه با گنجینه های علمی و معنوی همواره به عنوان چراغی همیشه فروزان در مسیر پر پیچ و خم صنعت فولاد کشور نور افشانی کرده و سعی نموده تا با ارج نهادن به ارزشهای انسانی و اسلامی نقش خویش را در شکوفایی صنعت فولاد کشور ایفا و مسئولیتهای اجتماعی را با تکیه بر اعتماد به نفس ملی محقق سازد.
                     این مجموعه در راستای اهداف برنامه چهارم توسعه کشور اقدام به تهیه آهن آلات طرح های آبخیزداری و کنترل سیلاب، ساخت مراکز آموزشی، سالن های ورزشی، سوله های صنعتی و پروژه های فرهنگی، گوشه ای از رسالت تحقق یافته صنایع فولاد سام می باشد. از سوی دیگر در فرهنگ انقلاب اسلام توجه به نیازهای اولیه مردم به عنوان یک ارزش مطرح بوده و هست و بر اساس همین باور صنایع فولاد سام خدمات زیادی را در خصوص امور مرتبط با توسعه کشورمان انجام داده است
                        که گوشه ای از این خدمات را می توان در ابعاد ذیل برشمارد: کمک به ساخت مدارس و مساجد، تامین نیاز پروژه ها و طرح های بهداشتی و درمانی، نیاز پروژه های عمرانی ملی مسکن مهر، صنعت کشاورزی: تهیه و ارسال آهن آلات شرکت های تولید کننده سیستم های خنک کننده و تصفیه هوا.
                        در پایان امید آن را داریم که با استعانت از خداوند متعال و حمایت مسئولین استان بتوانیم گامهای بیشتری در جهت شکوفایی صنعت فولاد کشور برداریم. مدیریت صنایع فولاد سام ضمن تشکر از همه مسئولین و همکاران گرامی، آماده دریافت نظرات و پیشنهادات سازنده در راستای پیشبرد اهداف و مسئولیت های مجموعه می باشد.
                    </p>
                    <blockquote>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                        <footer>ایپسوم دولور سیت</footer>
                    </blockquote>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی
                        مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.لورم ایپسوم متن ساختگی با
                        تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                        مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با
                        هدف بهبود ابزارهای کاربردی می باشد.</p>
                </div>
            </div>
            <h3 class="text-center">متن دلخواه خود را در اینجا قرار دهید.</h3>
            <div class="row">
                <div class="col-sm-4">
                    <div class="well">
                        <h4>فعالیت ها</h4>
                        <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                            چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد.</p>
                        <a href="#" class="btn btn-primary">ادامه مطلب</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>مشاوره خرید</h4>
                        <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                            چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد.</p>
                        <a href="#" class="btn btn-primary">ادامه مطلب</a></div>
                </div>
                <div class="col-sm-4">
                    <div class="well">
                        <h4>......</h4>
                        <p>متن دلخواه خود را در اینجا قرار دهید. لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                            چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                            سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                            ابزارهای کاربردی می باشد.</p>
                        <a href="#" class="btn btn-primary">ادامه مطلب</a></div>
                </div>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
{% endblock %}