
<footer id="footer">
    <div class="fpart-first">
      <div class="container">
        <div class="row">
          <div class="contact col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h5>درباره فروشگاه</h5>
            <p>خلاصه ای درباره فعالیت شرکت</p>
            <img alt="" src="image/logo-small.png">
          </div>
          <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h5>اطلاعات</h5>
            <ul>
              <li>
                  <p><span class="fa fa-map-marker"></span>  آدرس: تهران، بازار آهن شادآباد، ...</p>
              </li>
              <li>
                  <p><span class="fa fa-icon-calendar-times-o"></span>  ساعت کاری: </p>
              </li>
            </ul>
          </div>
          <div class="column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h5>خدمات مشتریان</h5>
            <ul>
              <li><a href="contact-us.html">تماس با ما</a></li>
              <li><a href="/about/">درباره ما</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="fpart-second">
      <div class="container">
        <div id="powered" class="clearfix">
          <div class="powered_text pull-left flip">
            <p>کپی رایت © 2019 صنایع فولاد سام </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
