{% load static from staticfiles %}
<div id="header">
    <!-- Top Bar Start-->
    <nav id="top" class="htop">
        <div class="container">
            <div class="row"><span class="drop-icon visible-sm visible-xs"><i
                    class="fa fa-align-justify"></i></span>
                <div class="pull-left flip left-top">
                    <div class="links">
                        <ul>
{#                            <li class="mobile" style="direction:ltr; ">+21 66------ <i class="fa fa-phone"></i></li>#}
                            <li class="email"><a href="mailto:fooladsam@gmail.com"><i class="fa fa-envelope"></i>fooladsam@gmail.com</a>
                            </li>
                            <li class="wrap_custom_block hidden-sm hidden-xs"><a>لیست تلفن ها<b></b></a>
                                <div class="dropdown-menu custom_block" style="direction: ltr;">
                                    <ul>
                                        <li>
                                            <table>
                                                <tbody>
                                                <tr>
                                                    <td>66671597-9</td>
                                                </tr>
                                                <tr>
                                                    <td>66675600-2</td>
                                                </tr>
                                                <tr>
                                                    <td>66670789</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div id="top-links" class="nav pull-right flip">
                    <ul>
                        <li><a href="login.html">ورود</a></li>
                        <li><a href="register.html">ثبت نام</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Top Bar End-->
    <header class="header-row">
        <div class="container">
            <div class="table-container">
                <!-- Logo Start -->
                <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                    <div id="logo"><a href="index.html"><img class="img-responsive" src="{% static 'image/folad-sam.png' %}"
                                                             title="IronMarket" alt="IronMarket" width="200"
                                                             height="200"/></a></div>
                </div>
                <!-- Logo End -->
                <!-- Mini Cart Start-->
                <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div id="cart">
                        <button type="button" data-toggle="dropdown" data-loading-text="بارگذاری ..."
                                class="heading dropdown-toggle">
                            <h3>
                                <span class="fa fa-phone-square"></span>
                                <span id="cart-total">021-66670510</span>
                            </h3>
                        </button>


                        <l class="dropdown-menu">
                            <li>
                                <div>
                                    <table class="table table-bordered">
                                        <tbody>
                                        <tr>
                                            <td class="text-right"><strong>خرید و فروش جزئی</strong></td>
                                            <td class="text-center">66------</td>
                                        </tr>
                                        <tr>
                                            <td class="text-right"><strong>خرید و فروش عمده</strong></td>
                                            <td class="text-center">66------</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </l>
                    </div>
                </div>
                <!-- Mini Cart End-->
                <!-- جستجو Start-->
                <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                    <div id="search" class="input-group">
                        <input id="filter_name" type="text" name="search" value="" placeholder="جستجو"
                               class="form-control input-lg"/>
                        <button type="button" class="button-search"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- جستجو End-->
            </div>
        </div>
    </header>
    {% include 'navigation.html' %}
    <!-- Main آقایانu End-->
</div>