{% load list_tags %}

<nav id="menu" class="navbar">
        <div class="navbar-header"><span class="visible-xs visible-sm"> منو <b></b></span></div>
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a class="home_link" title="خانه" href="/">خانه</a></li>
                    <li class="dropdown"><a href="category.html">محصولات</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="/category/">انواع ورق <span>&rsaquo;</span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href="{% url 'sheet_list' 7 %}">گالوانیزه </a></li>
                                            <li><a href="{% url 'colored_sheet_list' 8 %}">رنگی </a></li>
                                            <li><a href="{% url 'static_table' 9 %}">روغنی </a></li>
                                            <li><a href="category.html">سیاه </a></li>
                                            <li><a href="category.html">آجدار </a></li>
                                            <li><a href="category.html">آلومینیوم </a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li><a href="category.html">پروفیل</a></li>
                                <li><a href="category.html">نبشی و ناودونی</a></li>
                                <li><a href="category.html">تسمه</a></li>
                                <li><a href="{% url 'static_table' 5 %}">میلگرد</a></li>
                                <li><a href="category.html">تیرآهن</a></li>
                                <li><a href="category.html">پیچ</a></li>
                                <li><a href="category.html">توری</a></li>
                                <li><a href="category.html">پشم شیشه</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown"><a href="category.html">خدمات</a>
                        <div class="dropdown-menu">
                            <ul>
                                <li><a href="category.html">برش و فرم انواع ورق گالوانیزه و رنگی <span>&rsaquo;</span></a>
                                    <div class="dropdown-menu">
                                        <ul>
                                            <li><a href="{% url 'sine_form' %}">کرکره </a></li>
                                            <li><a href="{% url 'trapezius_form' %}">ذوزنقه </a></li>
                                            <li><a href="{% url 'cheadlein_form' %}">شادولاین </a></li>
                                            <li><a href="category.html">طرح سفال پالرمو </a></li>
                                            <li><a href="category.html">طرح سفال ژنووا </a></li>
                                            <li><a href="category.html">دامپا </a></li>
                                            <li><a href="category.html">آبرو </a></li>
                                            <li><a href="category.html">نما </a></li>
                                            <li><a href="category.html">تیزه </a></li>
                                            <li><a href="category.html">عرشه فولادی (دک) </a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown"><a href="{% url 'about_us' %}">درباره ما</a></li>

{#                    <li class="dropdown information-link"><a>برگه ها</a>#}
{#                        <div class="dropdown-menu">#}
{#                            <ul>#}
{#                                <li><a href="login.html">ورود</a></li>#}
{#                                <li><a href="register.html">ثبت نام</a></li>#}
{#                                <li><a href="product.html">محصولات</a></li>#}
{#                            </ul>#}
{#                            <ul>#}
{#                                <li><a href="/about/">درباره ما</a></li>#}
{#                                <li><a href="/contact/">تماس با ما</a></li>#}
{#                                <li><a href="search.html">جستجو</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </li>#}
                    {% if request.user|has_group:"manager" %}
                    <li class="dropdown"><a href="{% url 'category_list' %}">مدیریت کالا</a></li>
                    {% endif %}
                    <li class="custom-link-right"><a href="{% url 'contact_us' %}"> با ما تماس بگیرید</a></li>
                </ul>
            </div>
        </div>
    </nav>
