{% extends 'base.html' %}
{% load static from staticfiles %}
{% load list_tags %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'category/css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'category/css/util.css' %}"/>
{% endblock %}
{% block content %}
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="category.html">ورق گالوانیزه</a></li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Left Part Start -->
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <h3 class="subtitle">دسته ها</h3>
            <div class="box-category">
                <ul id="cat_accordion">
                    <li><a href="category.html">انواع ورق</a> <span class="down"></span>
                        <ul>
                            <li><a href="category.html">گالوانیزه</a> <span class="down"></span>
                                <ul>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                </ul>
                            </li>
                            <li><a href="category.html">روغنی</a></li>
                            <li><a href="category.html">سیاه</a> <span class="down"></span>
                                <ul>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a class="active" href="category.html">میلگرد</a> <span class="down"></span>
                        <ul style="display:block;">
                            <li><a href="category.html">ساده</a> <span class="down"></span>
                                <ul>
                                    <li><a href="category.html">زیردسته های جدید</a></li>
                                    <li><a href="category.html">زیردسته های جدید</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                </ul>
                            </li>
                            <li><a href="category.html">آجدار</a> <span class="down"></span>
                                <ul>
                                    <li><a href="category.html">زیردسته های جدید</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                    <li><a href="category.html">زیردسته جدید</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="category.html">لوله</a> <span class="down"></span>
                        <ul>
                            <li><a href="category.html">گالوانیزه</a></li>
                            <li><a href="category.html">استیل</a> <span class="down"></span>
                                <ul>
                                    <li><a href="category.html">زیردسته های جدید</a></li>
                                    <li><a href="category.html">زیردسته ها</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="category.html">پروفیل</a> <span class="down"></span>
                        <ul>
                            <li><a href="category.html">دسته 1</a></li>
                            <li><a href="category.html">دسته 2</a></li>
                            <li><a href="category.html">دسته 3</a></li>
                            <li><a href="category.html">دسته 4</a></li>
                        </ul>
                    </li>
                    <li><a href="category.html">نبشی</a> <span class="down"></span>
                        <ul>
                            <li><a href="category.html">نبشی</a></li>
                            <li><a href="category.html">سپری</a></li>
                            <li><a href="category.html">ناودنی</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </aside>
        <!--Left Part End -->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
            <div class="product-filter">
                <div class="row">
                    <div class="col-md-4 col-sm-5">
                        <div class="btn-group">
                            <h4 class="title">لیست محصولات {{ category }}</h4>
                        </div>
                    </div>
                    <div class="col-sm-2 text-left">
                        <a href="{% url 'create_product' %}">ایجاد محصول جدید</a>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row products-category">
                {#                <div class="container-table100">#}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <table>
                        {% for form in formset %}
                            <tr>
                            <td>{{ product_list|list_item:forloop.counter0 }}{{ form.price }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {#                    {% for form in formset %}#}
                    {#                        <ul>#}
                    {#                            <li>{{ product_list|list_item:forloop.counter0 }}{{ form.price }}</li>#}
                    {##}
                    {#                        </ul>#}
                    {#                    {% endfor %}#}
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">ثبت</button>
                    </div>
                </form>
            </div>
        </div>
        <!--Middle Part End -->
    </div>
{% endblock %}
